{% extends "base.html" %}
 
{%  block title %} Disclaimer {%  endblock title %}

{% block body %}

  {%  block name %}<p style="color: rgb(205, 214, 221);"><a href="/">Home</a> > <a href="/disclaimer/">Disclaimer</a></p>{%  endblock name %} 
 

{% load static %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="mb-4">Disclaimer</h3>
                <p>The information provided on Kamfind.com is for general informational purposes only. While we strive to keep the information accurate and up-to-date, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

                <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

                <p>Through this website, you can link to other websites that are not under the control of Kamfind.com. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views expressed within them.</p>

                <p>Thank you for visiting Kamfind.com. Please review this disclaimer carefully and use the site at your own risk.</p>
            </div>
        </div>
    </div>


  
    
  
      {% endblock body %}
  
