

{% extends "base.html" %}
 

{%  block title %}  Vyapam {%  endblock title %}







{% block body %}



<p style="color: #e0e7e9;">  {%  block name %}<a href="/">Home</a> > <a href="/vyapam/">Vyapam</a> {%  endblock name %} </a>
 
    {% for ad in ads %}
    <div class="ads container">
       <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
     <div class="ad-container ">
       {{ ad.Vartical_code|safe }}
      
     </div></div>
    {% endfor %}


<style>
   
   
    .table th, .table td {
        vertical-align: middle;
    }
    .table-bordered {
        border-color: #867af7;; /* Blue border color */
    }
    .table th {
        
        background-color: #867af7; /* Blue background color for table headings */
        color: #fff; /* White text color for table headings */
    }
    .notification {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    .notification:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .notification-success {
        background-color: #d4edda;
        color: #155724;
    }
    .notification-warning {
        background-color: #fff3cd;
        color: #856404;
    }
    .notification-danger {
        background-color: #f8d7da;
        color: #721c24;
    }
    .notification a {
        color: inherit;
        text-decoration: underline;
    }
    .notification a:hover {
        color: #155724;
    }
</style>

    <div class="container">
        <h3 class="text-center mb-4" style="margin-top: 4%;">Vyapam Notification</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
               
                <thead>
              
                    <tr>
                        <th>Title</th>
                        <th>vyapam  Notification List</th>
                    </tr>
                </thead data-aos="fade-up" data-aos-delay="100">
                {% for data in vyapam %}
                <tbody>
                   
                    <tr>
                        <td> {{data.title}}</td>
                        <td>
                            <a href="{{data.vyapam_url}}">
                            <div class="notification notification-success">
                                {{data.vyapam}}
                            </div></a>
                        </td>
                    </tr>
                    
                </tbody>{% endfor %}
                   
            </table>
        </div>
    </div>


    {% for ad in ads %}
    <div class="ads container">
       <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
     <div class="ad-container ">
       {{ ad.Vartical_code|safe }}
      
     </div></div>
    {% endfor %}

 
  

  
      {% endblock body %}
  