{% extends "base.html" %}
 
{%  block title %} categories {%  endblock title %}

{% block body %}

<p> {%  block name %}<a href="/">Home</a> > <a href="{{ cat.cat_id }}">Job Type</a> {%  endblock name %} </a>
 

{% load static %}

{% for ad in ads %}
<div class="ads container">
   <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
 <div class="ad-container ">
   {{ ad.Vartical_code|safe }}
  
 </div></div>
{% endfor %}


<section>
  <div class="container">
    {% for job in cat_filter %}
    {% if forloop.first %}
        <h3 style="text-align: center; margin-bottom: -9%; margin-top: 7%">
            {{ job.cat.title | safe }}
        </h3>
    {% endif %}
{% endfor %}


  
    <div class="job-list w-100" data-aos="fade-up" data-aos-delay="100">
      {% for job in cat_filter %}
     
     <a href="/{{ job.slug }}"> <div class="list-contain" >
        <h3 style="font-size: 18px; font-weight: bold;">
          {{ job.title | safe }}
        </h3><br>
        <h6><i class="fas fa-map-marker-alt"></i> Location: -  {{job.Location}}</h6>
        <div class="d-flex justify-content-around">
          <div class="tabale-job-list">
            <table>
              <thead>
                <tr>
                  <th class="responsive-th">Post</th>
                  <th class="responsive-th">Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>   {{job.number_of_post}}   </td>
                  <td>   {{job.salary}}   </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <h6>Last Date: <br>
              {{job.application_end_date}}</h6>
          </div>
          <div>
            <h6 style=" background-color: #e0e7e9; padding: 5px; box-shadow: 1px 2px 4px rgb(156, 151, 151);">
              {{job.cat}} </h6>
          </div>
        </div>
      </div></a>
      
      {% empty %}

      No Data Found
    {% endfor %}
        <!-- ADD NEW POST  -->
    </div>
            
 
<div class="container">
<div class="row justify-content-center mt-3">
  <div class="col-md-6">
   
  </div>
</div>
</div>


  </div>
  </section>

    
  {% for ad in ads %}
  <div class="ads container">
     <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
   <div class="ad-container ">
     {{ ad.Vartical_code|safe }}
    
   </div></div>
{% endfor %}

{% endblock body %}