

{% extends "base.html" %}
 

{%  block title %} Contact Us{%  endblock title %}



{% block body %}

{%  block name %}<p style="color: rgb(205, 214, 221);"><a href="/">Home</a> > <a href="/contact">Contact us</a></p>{%  endblock name %} 
 
{% for ad in ads %}
<div class="ads container">
   <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
 <div class="ad-container ">
   {{ ad.Vartical_code|safe }}
  
 </div></div>
{% endfor %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="mb-4">Contact Us</h3>
                
                <p>If you have any questions, feedback, or concerns, please feel free to get in touch with us using the form below or the provided contact information. We will do our best to respond to your inquiry as soon as possible.</p>
                
                <h6>Contact Information</h6>
                <ul>
                    <li>Email: <a href="Kamfind0@gmail.com">Kamfind0@gmail.com</a></li>
               </ul>


                
                <!-- <h6>Contact Form</h6>
                <form action="/submit-contact" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->
            </div>
        </div>
    </div>

   <br>
    {% for ad in ads %}
    <div class="ads container">
       <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
     <div class="ad-container ">
       {{ ad.Vartical_code|safe }}
      
     </div></div>
    {% endfor %}

 
    
  
      {% endblock body %}
  
