{% extends "base.html" %}
 

{%  block title %} Home {%  endblock title %}







{% block body %}



<style>
  .breaking-news{

    margin-top:3%;
  }
  .news{
    
    box-shadow: 2px 3px 4px rgb(138, 134, 134) , inset 2px 3px 4px rgb(138, 134, 134) ;
    width:40%;
    line-height:30px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    margin-bottom:-0.8%;
    text-align: center;
    background-color: rgba(117, 108, 201, 0.199);

  }

  

</style>
<div class="breaking-news container">
<div class="news "><i class="fas fa-bolt"></i> &nbsp; BREAKING POSTS</div>
<div class="wrapper ">
  <i id="left" class="fas fa-angle-double-left"></i><i class=""></i> <!-- Solid double angle -->



  <ul class="carousel">

    {% for data in breaking %}
    <li class="card">
      <a href="{{data.Breaking_url}}"><h2> {{data.Breaking}} </h2></a>
    </li>
   {% endfor %}
  </ul>
  <i id="right" class="fas fa-angle-double-right"></i>
</div></div>




{% load static %} 


{% block search %}

 <!-- search    -->
   
 <form method="/GET">
    <div class="search container">
      <div class="search-bar">
       
        <input type="text" placeholder="Search" name="searchbar" value="" />
        <button type="submit" style="background-color: transparent; border: none;"><i class="fa fa-search"  aria-hidden="true"></i></button>
        <!-- <i class="fas fa-filter" id="book" onclick="toggleFilter()"></i> -->
   
      </div>
    </div>   </form>
    
    {% endblock search %} 
    
    <!-- filter field -->

    
    <style>
      .filter-box {
        border: 1px solid #ced4da;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        
      }
    
      /* Update button color */
      .btn-primary {
        background-color: #0e2f99;
        border-color:  #0e2f99;
      }
    
      /* Remove hover effect on options */
      .form-control option:hover {
        background-color: transparent;
      }
    
      /* Add outline to options */
      .form-control option {
        outline: none;
      }
    
      #opton-selection:hover{
        background-color: #c5c5c7;
      }
    </style>
    
  <form action="GET" >  
  <div class="Pop-book" id="filterSection" style="display: none;">
    <form class="book-btn" id="book-btn">
      <div class="container mt-5">
        <div class="filter-box">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" id="form_control">
                <label for="state">Location:</label>
                <select class="form-control" id="state" name="Location">
                  <option id="opton-selection"  value="" >Select State</option>
                  <option id="opton-selection" value="छत्तीसगढ़">छत्तीसगढ़</option>
                  <option id="opton-selection" value="raipur">Raipur</option>
                  <option id="opton-selection" value="state2">State 2</option>
                  <!-- Add more states as needed -->
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="jobType">Job Type:</label>
                
                <select class="form-control" id="jobType" name="job_type">
                  <option id="opton-selection"  value="" >Select Job</option>
                  <option id="opton-selection" value="शासकीय">शासकीय</option>
                
  
                
                  <!-- Add more job types as needed --> 
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="course">Ability:</label>
                <select class="form-control" id="course" name="Ability">
                  <option id="opton-selection"  value="">Select Ability</option>
                  <option id="opton-selection"  value="12th">12th</option>
                  <option id="opton-selection" value="course2">10th</option>
                  <!-- Add more courses as needed -->
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-primary " style="background-color: #0e2f99; border: none;" type="submit">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div></form>
  
  <script>
    function toggleFilter() {
      var filterSection = document.getElementById("filterSection");
      if (filterSection.style.display === "none") {
        filterSection.style.display = "block";
      } else {
        filterSection.style.display = "none";
      }
    }
  </script>


<!-- state filter -->

<style>
  
  .state-section  {
  
  display: flex;
  justify-content: center;
  margin-top:1%;


  }
  
  #stateSelect {
    text-align: center;
    border: none;
    outline: none;
    padding:0.5%;
    box-shadow: 0 0 4px rgb(156, 154, 154);
    width: 100%; /* Make the select element fill its container */
    max-width:500px; /* Limit the maximum width of the select element */
    margin-top: -5px; /* Add some bottom margin for spacing */
  }

  
/* Responsive styles */
@media screen and (max-width: 600px){
  #stateSelect {
   
    max-width:300px; 
    margin-top: 0px;
    
  }}
</style>



<div class="state-section container">
  <select id="stateSelect" class="form-select" aria-label="Select State">
    {% for state in  state %} 
    <option value="{{ state.state_id }}">{{ state.name }}</option>
    {% endfor %}
  </select>
</div>




<script>
  document.getElementById("stateSelect").addEventListener("change", function() {
    var selectedStateId = this.value;
    window.location.href = "/?state=" + selectedStateId;
  });
</script>






 
    <!-- table -->
   

    <div class="table-responsive container">
      <h3 style="text-align: center; margin-bottom: 2%">Top Job Posts</h3>
      <table>
        <thead>
          <tr>
            <th class="responsive-th">Job Name</th>
            <th class="responsive-th" >Location</th>
            <th class="responsive-th">Last Date</th>
          </tr>
        </thead>
      

          {% for top in topjob %}

          <tbody>
            <tr>
              <td id="job-name"> <a href="{{ top.pk }}">{{ top.title | safe }}</a> 
              <td><a href="#">{{ top.state | safe }}</a></td>  
              <td><a href="#">{{ top.application_end_date | safe}}</a></td></a>
            </tr>
          </tbody>
       
           {% endfor %}
     </table>
    </div>
 
    
    <!-- main_div  -->

    <section>
    <div class="container">
      <h3 style="text-align: center;  margin-bottom: -9%; margin-top: 7%">
        Job Posts
      </h3>

    
      <div class="job-list" >
        {% for job in data %}  
       {% if forloop.counter < 10 %}
       <a href="{{ job.slug }}"> <div class="list-contain" data-aos="fade-up" data-aos-delay="100">
          <h3 style="font-size: 18px; font-weight: bold;">
            {{ job.title | safe }}
          </h3><br>
          <h6><i class="fas fa-map-marker-alt"></i> Location: -  {{job.Location}}</h6>
          <div class="d-flex justify-content-around">
            <div class="tabale-job-list">
              <table>
                <thead>
                  <tr>
                    <th class="responsive-th">Post</th>
                    <th class="responsive-th">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>   {{job.number_of_post}}   </td>
                    <td>   {{job.salary}}   </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <div>
              <h6>Last Date:<br> {{job.application_end_date}}</h6>
            </div>
            <div>
              <h6 style=" background-color: #e0e7e9; padding: 5px; box-shadow: 1px 2px 4px rgb(156, 151, 151);">
                {{job.cat}} </h6>
            </div>
          </div>
        </div></a>
        {% endif %}
        {% empty %}

        No Data Found
      {% endfor %} 
          <!-- ADD NEW POST  -->
      </div>

        <!-- second post  -->

   
              
      
                    <!-- more btn desing -->
      <style>
        
        .more-btn {
          border: 2px solid white;
          padding: 0.5%;
          width: 100%; /* Adjust width as per your requirement */
          max-width: 90px; /* Set a maximum width for larger screens */
          font-size: 12px;
          font-weight: bold;
          border-radius: 4%;
          box-shadow: 0 0 4px black;
          text-decoration: none;
          text-align: center;
          border: 2px solid rgb(243, 237, 237) ;
          background-color: #0e2f99;
          color: white; /* Text color */
          margin: 0 auto; /* Center the button */
        }
      </style>

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <!-- Bootstrap styled button -->
      <div class="more-btn p-2">
        <a href="all-post/" class="text-decoration-none" style="color: white;">More</a>
      </div>
    </div>
  </div>
</div>


    </div>
    </section>
    




    <!-- Recent Posts Section -->
    <section class="recent-posts">
      <div class="container">
        <h3>POPULAR POSTS</h3>
         <div class="job-list" data-aos="fade-left" data-aos-delay="100">

          {% for job in recent_data %}{% if forloop.counter < 15 %}

          <a href="{{ job.slug }}"> <div class="list-contain" >
            <h3 style="font-size: 18px; font-weight: bold;">
              {{ job.title | safe }}
            </h3>
            <h6><i class="fas fa-map-marker-alt"></i> Location: -  {{job.Location}}</h6>
            <div class="d-flex justify-content-around">
              <div class="tabale-job-list">
                <table>
                  <thead>
                    <tr>
                      <th class="responsive-th">Post</th>
                      <th class="responsive-th">Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>   {{job.number_of_post}}   </td>
                      <td>   {{job.salary}}   </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <div>
                <h6>Last Date: {{job.application_end_date}}</h6>
              </div>
              <div>
                <h6 style=" background-color: #e0e7e9; padding: 5px; box-shadow: 1px 2px 4px rgb(156, 151, 151);">
                  {{job.cat}} </h6>
              </div>
            </div>
          </div></a>

          {% endif %} {% endfor %}
 
<!-- add new post  -->

      </div>
      </div>
    </section>

    
<!-- Carousel Section  -->

    <section class="carousel-arrange ">

      <h3 class="title-caruosel" >Ads </h3>

    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-desing container"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner container carousel-img">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="{% static 'image/Poster_fix.jpg' %}"
            alt="First slide"
          />
        </div>
        {% for data in carousel %}
        <div class="carousel-item">
          <a href="{{ data.carousel_url}}"><img
            class="d-block w-100"
            src="{{ data.poster.url }}"
            alt="Second slide"
          /></a>
        </div> {% endfor %}
        
      </div>

      <!-- btn for scroll -->

      <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only" >Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
    </div>

    </section>

      <!-- important link -->

  

      <section class="Quick ">
        <div class="container" >

          <h3>Quick Link</h3>
          <div class="row" >
            <div class="col-md-4">
              <div class="card" data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h4 class="card-title">Exams</h4>
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-book"></i><a href="/Ssc">SSC</a></li>
                    <li class="list-group-item"><i class="fas fa-book"></i><a href="/vyapam">Vyapam</a></li>
                    <li class="list-group-item"><i class="fas fa-train"></i><a href="/railway">Railway</a></li>
                    <li class="list-group-item"><i class="fas fa-book"></i><a href="/upsc">UPSC</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h4 class="card-title">Admin Corner</h4>
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-id-badge"></i><a href="a">Admit Card</a></li>
                    <li class="list-group-item"><i class="fas fa-file"></i><a href="/syllabus">Syllabus</a></li>
                    <li class="list-group-item"><i class="fas fa-poll"></i><a href="/result">Result</a></li>
                    <li class="list-group-item"><i class="fas fa-key"></i><a href="{% url 'anskey' %}">Answer Key</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h4 class="card-title">Important Links</h4>
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-link"></i><a href="https://www.kamfind.in" target="_blank">Other  Website</a></li>
                    <li class="list-group-item"><i class="fas fa-file-alt"></i><a href="/old_pepar">Previous Questions </a></li>
                    <li class="list-group-item"><i class="fas fa-tools"></i><a href="/tools">Tools</a></li>
                    <li class="list-group-item"><i class="fas fa-envelope"></i><a href="/contact/">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </section>
      
  
      {% for ad in ads %}
      <div class="ads container" style="margin-top: 5%;">
         <h3 class="ads-title" >{{ ad.Vartical_ads|safe }}</h3>
       <div class="ad-container ">
         {{ ad.Vartical_code|safe }}
        
       </div></div>
      {% endfor %}
      <!-- End of Google ad code snippet -->
      
    

 
    <!-- breaking news carousel -->
    <script>
      const wrapper = document.querySelector(".wrapper");
  const carousel = document.querySelector(".carousel");
  const firstCardWidth = carousel.querySelector(".card").offsetWidth;
  const arrowBtns = document.querySelectorAll(".wrapper i");
  const carouselChildrens = [...carousel.children];
  
  let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;
  
  // Get the number of cards that can fit in the carousel at once
  let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);
  
  // Insert copies of the last few cards to beginning of carousel for infinite scrolling
  carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
      carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
  });
  
  // Insert copies of the first few cards to end of carousel for infinite scrolling
  carouselChildrens.slice(0, cardPerView).forEach(card => {
      carousel.insertAdjacentHTML("beforeend", card.outerHTML);
  });
  
  // Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
  carousel.classList.add("no-transition");
  carousel.scrollLeft = carousel.offsetWidth;
  carousel.classList.remove("no-transition");
  
  // Add event listeners for the arrow buttons to scroll the carousel left and right
  arrowBtns.forEach(btn => {
      btn.addEventListener("click", () => {
          carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
      });
  });
  
  const dragStart = (e) => {
      isDragging = true;
      carousel.classList.add("dragging");
      // Records the initial cursor and scroll position of the carousel
      startX = e.pageX;
      startScrollLeft = carousel.scrollLeft;
  }
  
  const dragging = (e) => {
      if(!isDragging) return; // if isDragging is false return from here
      // Updates the scroll position of the carousel based on the cursor movement
      carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
  }
  
  const dragStop = () => {
      isDragging = false;
      carousel.classList.remove("dragging");
  }
  
  const infiniteScroll = () => {
      // If the carousel is at the beginning, scroll to the end
      if(carousel.scrollLeft === 0) {
          carousel.classList.add("no-transition");
          carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
          carousel.classList.remove("no-transition");
      }
      // If the carousel is at the end, scroll to the beginning
      else if(Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
          carousel.classList.add("no-transition");
          carousel.scrollLeft = carousel.offsetWidth;
          carousel.classList.remove("no-transition");
      }
  
      // Clear existing timeout & start autoplay if mouse is not hovering over carousel
      clearTimeout(timeoutId);
      if(!wrapper.matches(":hover")) autoPlay();
  }
  
  const autoPlay = () => {
      if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
      // Autoplay the carousel after every 2500 ms
      timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
  }
  autoPlay();
  
  carousel.addEventListener("mousedown", dragStart);
  carousel.addEventListener("mousemove", dragging);
  document.addEventListener("mouseup", dragStop);
  carousel.addEventListener("scroll", infiniteScroll);
  wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
  wrapper.addEventListener("mouseleave", autoPlay);
    </script>

    {% endblock body %}
